In [25]:
#Import necessary libraries
import pandas as pd 
import numpy as np 
#Create the data

data = pd.DataFrame({"Age": [20,23, 34, 50, 56, 78, 29, 34, 34,1000]})

In [26]:
data.head()

   Age
0   20
1   23
2   34
3   50
4   56

In [27]:
data.mean()

Age    135.8
dtype: float64

In [28]:
#Stnadard deviation of the data 
data.std()

Age    304.145725
dtype: float64

In [29]:
#Lets calculate the Z-score 
data['Z-score'] = (data['Age'] - data['Age'].mean())/data['Age'].std()
data.tail()

#print the outliers as per the std of 3
# print(data[data['Z-score']>3])

    Age   Z-score
5    78 -0.190040
6    29 -0.351147
7    34 -0.334708
8    34 -0.334708
9  1000  2.841401

In [30]:
# import pandas as pd
# from scipy import stats

# # Assuming 'data' is your DataFrame and 'column' is the column you want to check for outliers
# data = pd.DataFrame({'values': [5, 6, 7, 8, 9, 10, 11, 12, 13, 1000]})  # Example data

# # Calculate z-scores
# data['z_score'] = stats.zscore(data['values'])

# # Define threshold for identifying outliers
# threshold = 3  # You can adjust this threshold as needed

# # Mark outliers
# data['is_outlier'] = data['z_score'].abs() > threshold

# # Print the DataFrame with outliers marked
# print(data)

In [31]:
# Import libraries
import numpy as np
from scipy import stats

# Sample data
data = [2.5, 2.7, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0, 110.0]

# Calculate the Z-score for each data point
z_scores = np.abs(stats.zscore(data))

# Set a threshold for identifying outliers
threshold = 2.5 
outliers = np.where(z_scores > threshold)[0]

# print the data
print("----------------------------------------")
print("Data:", data)
print("----------------------------------------")

print("Indices of Outliers:", outliers)
print("Outliers:", [data[i] for i in outliers])

# Remove outliers
data = [data[i] for i in range(len(data)) if i not in outliers]
print("----------------------------------------")
print("Data without outliers:", data)

----------------------------------------
Data: [2.5, 2.7, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0, 110.0]
----------------------------------------
Indices of Outliers: [9]
Outliers: [110.0]
----------------------------------------
Data without outliers: [2.5, 2.7, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0]

In [32]:
# Step 1: Import the required libraries
import pandas as pd
import numpy as np

# Step 2: Create the data
data = pd.DataFrame({'Age': [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 50]})

# Step 3: Calculate the first and third quartile
Q1 = np.percentile(data['Age'], 25, interpolation = 'midpoint')
Q3 = np.percentile(data['Age'], 75, interpolation = 'midpoint')

# Step 4: Calculate the IQR
IQR = Q3 - Q1

# Step 5: Calculate the lower and upper bound
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)

# Step 6: Print the data
print("----------------------------------------")
print(f"Here is the data with outliers:\n {data}")
print("----------------------------------------")
# Step 7: Print the outliers
print(f"Here are the outliers based on the IQR threshold:\n {data[(data['Age'] < lower_bound) | (data['Age'] > upper_bound)]}")
print("----------------------------------------")
# Step 8: Remove the outliers
data = data[(data['Age'] >= lower_bound) & (data['Age'] <= upper_bound)]

# Step 9: Print the data without outliers
print(f"Here is the data without outliers:\n {data}")

----------------------------------------
Here is the data with outliers:
     Age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30
11   50
----------------------------------------
Here are the outliers based on the IQR threshold:
     Age
11   50
----------------------------------------
Here is the data without outliers:
     Age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30